#burger{
  display: none;
}
@media(max-width: 1170px){
  header nav{
    display: none;
  }
  #burger{
    display: inline;
  }
}
@media(max-width: 790px){
.remove{
    display: none;
    position: absolute;
  }
  .video_player{
    width: 90%;
    position: absolute;
  }
  .news_article{
    width: 31.5%;
  }
  .clear_flex{
    display: block !important;
  }
  .featured_div{
    width: 100%;
    display: inline-block;
  }
  .featured_div:first-child{
    margin-bottom: 0px;
  }
  .featured_div:nth-child(3){
    margin-top: -70px;
    margin-bottom: 20px;
  }
}

@media (max-width: 600px) {
  #news .news_article:nth-child(1){
    display: none;
  }
  .news_article{
    width: 32%;
  }
.news_article h1{
  font-size: 15px;
}
}
@media (max-width: 570px) {
  .remove_mobile, .line{
    display: none;
  }
  #social_icons_bar{
    width: auto;
  }
  #search_icon{
    margin-right: 20px;
  }
  #news div:first-child{
  display: inline;
 }
 .news_article{
   margin: 0 auto;
   width: 90%;
   margin-top: 20px;
 }
 .news_article:nth-child(2){
   margin-top: 100px;
 }
 .news_article:nth-child(5){
   margin-bottom: 50px;
 }
 #news h1:first-child{
   margin-left: 5%;
 }
}
